{{ define "main" }}
  <article>
    <header><h2>{{ .Title }}</h2></header>

    <aside>
      <dl>
        <div>
          <dt>Author</dt>
          <dd>{{ .Param "author" }} (<a target="_blank" href="{{ .Param "authorLinkG" }}">GitHub</a>, <a target="_blank" href="{{ .Param "authorLinkX" }}">X</a>)</dd>
        </div>
        <div>
          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format ":date_long" }}
          <dt>Date</dt>
          <dd><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></dd>
        </div>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </dl>
    </aside>

    <a target="_blank" class="czech" href="{{ .Param "czechLink" }}">
      <svg class="flag" xmlns="http://www.w3.org/2000/svg" version="1.0" width="45" height="30">
              <rect width="45" height="30" fill="#d7141a"/>
              <rect width="45" height="15" fill="#fff"/>
              <path d="M 22.5,15 0,0 V 30 z" fill="#11457e"/>
      </svg>
      Česká verze dostupná na high-voltage.cz. / Czech version available at high-voltage.cz.
    </a>
    {{ .Content }}
  </article>
{{ end }}
