{{ define "main" }}
  <article>
    <header><h2>{{ .Title }}</h2></header>

    <aside>
      <dl>
        <div>
          <dt>Author</dt>
          <dd>{{ .Param "author" }} (<a target="_blank" href="{{ .Param "authorLinkG" }}">GitHub</a>, <a target="_blank" href="{{ .Param "authorLinkX" }}">X</a>)</dd>
        </div>
        <div>
          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format ":date_long" }}
          <dt>Date</dt>
          <dd><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></dd>
        </div>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </dl>
    </aside>

    {{ .Content }}
  </article>
{{ end }}
